<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0"><dict>
	<key>CFBundlePackageType</key><string>APPL</string>
	<key>CFBundleName</key><string>wails-demo</string>
	<key>CFBundleExecutable</key><string>wails-demo</string>
	<key>CFBundleIdentifier</key><string>wails.wails-demo.1.0.0</string>
	<key>CFBundleVersion</key><string>1.0.0</string>
	<key>CFBundleGetInfoString</key><string>Built by amaury-tobias using Wails (https://wails.app)</string>
	<key>CFBundleShortVersionString</key><string>1.0.0</string>
	<key>CFBundleIconFile</key><string>iconfile</string>
	<key>NSHighResolutionCapable</key><string>true</string>
</dict></plist>